<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: gray;
  color: white;
  font-size:20px;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width:200px;
}
</style>
</head>
<body>


<h1 align="center">Select Society</h1>
<hr>

{% for society in member_data %}

<form action="{% url 'multisociety' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="member_data" value="{{member_data}}">
    <input type="hidden" name="society" value="{{society.society_key.id}}">
    <input type="hidden" name="phone_no" value="{{phone_no}}">
    <button  type="submit" class="button"> {{society.society_key.society_name}}</button>
</form>

{% endfor %}



</body>
</html>

