{% extends 'myadminapp/bash.html' %}
{% load static %}
{% block content %}


<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">DASHBOARD</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div>
        <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <a href="/logout" style="margin-left:10px; text-decoration:none;"> Logout </a>
        </div>
    </nav>
</section>
{% endblock %}