{% extends 'bash.html' %}
{% load static %}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">SUB USER</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div>
        <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'logout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>

    <div class="home-content">


        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">New Sub User Added</div>
                <hr>
                <div class="sales-details">
                    <form method="POST" class="post-form" action="/addnewSubUser">
                        {% csrf_token %}
                        <div class="container">
                            <br>
                            <div class="form-group row">

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Contact Name</label>
                                    <input type="text" name="contact_name" id="contact_name">
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    <input type="text" name="email" id="email">
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Password</label>
                                    <input type="password" name="password" id="password">
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Phone No</label>
                                    <input type="text" name="phone_no" id="phone_no">
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Type</label>
                                    <select class="col-sm-2" name="Type">
                                            <option selected>----select-----</option>
                                            <option value="Accountant">Accountantsh</option>
                                            <option value="CA">CA</option>
                                            <option value="Auditor">Auditor</option>
                                            <option value="Member">Member</option>
                                            <option value="Chairman">Chairman</option>
                                            <option value="Secretary">Secretary</option>
                                            <option value="Treasurer">Treasurer</option>
                                            <option value="Vice-Chairman">Vice-Chairman</option>
                                            <option value="Other">Other</option>
                                    </select>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Access Rights</label>
                                    <select class="col-sm-2" name="access_rights">
                                            <option selected>----select-----</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Read-only">Read-only</option>
                                    </select>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Status</label>
                                    <select class="col-sm-2" name="status">
                                            <option selected>----select-----</option>
                                            <option value="Active">Active</option>
                                            <option value="Read-only">Read-only</option>
                                    </select>
                                </div>
                                <input type="hidden" name="sub_user">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label"></label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}