{% extends 'bash.html' %}
{% load static %}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

</style>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">MEMBERS DETAILS</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div>
        <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'logout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>

    <div class="home-content">


        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Update Members Details</div>
                <hr>
                <div class="sales-details">
                    <form method="POST" class="post-form" action="{% url 'editMembersDetails' membersDetails.id %}">
                        {% csrf_token %}
                        <div class="container">
                            <br>
                            <div class="form-group row">
                                <input type="hidden" class="form-control" name="id" id="id_id"
                                               maxlength="20" value="{{ membersDetails.id }}"/>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Flat No:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="flatNo" id="id_flatNo"
                                               maxlength="100" value="{{ membersDetails.flatNo }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Primary Name:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="primaryName" id="id_primaryName"
                                               maxlength="100" value="{{ membersDetails.primaryName }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Primary ContactNo:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="primaryContactNo" id="id_primaryContactNo"
                                               maxlength="100" value="{{ membersDetails.primaryContactNo }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Secondary Name:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="secondaryName" id="id_secondaryName"
                                               maxlength="100" value="{{ membersDetails.secondaryName }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Secondary ContactNo:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="secondaryContactNo" id="id_secondaryContactNo"
                                               maxlength="100" value="{{ membersDetails.secondaryContactNo }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Accounting Name:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="accountingName" id="id_accountingName"
                                               maxlength="100" value="{{ membersDetails.accountingName }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Whatsapp ContactNo:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="whatsappContactNo" id="id_whatsappContactNo"
                                               maxlength="100" value="{{ membersDetails.whatsappContactNo }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="email" id="id_email"

                                               maxlength="100" value="{{ membersDetails.email }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Residence</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="assetCategory">
                                            <option selected  value="{{ membersDetails.residence }}">{{ membersDetails.residence }}</option>

                                            {% if membersDetails.residence == "Rented" %}
                                            <option value="OMF">OMF</option>
                                            <option value="Wenter">Wenter</option>
                                            {% elif membersDetails.residence == "OMF"  %}
                                            <option value="Rented">Rented</option>
                                            <option value="Wenter">Wenter</option>
                                            {% elif membersDetails.residence == "Wenter"  %}
                                            <option value="Rented">Rented</option>
                                            <option value="OMF">OMF</option>
                                            {% endif %}

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label"></label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success btn-lg">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}