{% extends 'bash.html' %}
{% load static %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
        integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
.home-content .sales-boxes .recent-sales{
  width: 47.5%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .top-sales{
  width: 47%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</style>


<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">DASHBOARD</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div>
        <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="logout" method="post" id="my_form">
                {% csrf_token %}
                <button type="submit"></button>
                <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"
                   style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>

    <div class="home-content">
        <div class="overview-boxes">
            {% for bcl in contentBalance.balanceValue %}
            <div class="box" style="border:1px solid #918F8E">
                <div class="right-side">
                    <div class="box-topic" align="center">{{bcl.account}} Balance</div>
                    <hr style="margin:0 0 10px 0;">
                    <div class="number">{{bcl.balance_amount}}</div>
                </div>
            </div>
            {% endfor %}

            <div class="box" style="border:1px solid #918F8E">
                <div class="right-side">
                    <div class="box-topic" align="center">Total Expense</div>
                    <hr style="margin:0 0 10px 0;">
                    {% for totExp in totalExpenseAmount %}
                    <div class="number">{{totalExpenseAmount.amount__sum}}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="box" style="border:1px solid #918F8E">
                <div class="right-side">
                    <div class="box-topic" align="center">Total Income</div>
                    <hr style="margin:0 0 10px 0;">
                    {% for totInc in totalIncomeAmount %}
                    <div class="number">{{totalIncomeAmount.amount__sum}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="sales-boxes" style="width:2250px;margin-right:-100px">
            <div class="recent-sales box">
                <div class="title">MONTHLY EXPENSE-INCOME
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <input type="number" min="1900" max="2099" step="1" value="{{current_year}}" id="datepicker"
                               name="datepicker"/>
                        <button type="submit" id="fetchYearData">Fetch Data</button>
                    </form>
                </div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <br>

        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">EXPENSE DETAILS</div>
                <br>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Category</li>
                        {% for listExp in expenseAmountSum %}
                        <li><a href="{% url 'showincome_with_id' listExp.category_header %}" style="font-size:16px">{{listExp.category_header}}</a> </li>
                        <hr>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Amount</li>
                        {% for amountSum in expenseAmountSum %}
                        <li><a href="{% url 'showincome_with_id' amountSum.category_header %}" style="font-size:16px">{{amountSum.totalamount}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="top-sales box">
                <div class="title">INCOME DETAILS</div>
                <br>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Category</li>
                        {% for listInc in incomeAmountSum %}
                        <li><a href="{% url 'showincome_with_id' listInc.category_header %}"  style="font-size:16px">{{listInc.category_header}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Amount</li>
                        {% for amountSum in incomeAmountSum %}
                        <li><a href="{% url 'showincome_with_id' amountSum.category_header %}"  style="font-size:16px">{{amountSum.totalamount}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="sales-boxes" style="width:2250px;margin-right:-100px">
            <div class="recent-sales box">
                <div class="title">TOP 20 EXPENSE DEATILS</div>
                <br>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Members(from or to account)</li>
                        <hr style="border: 1px solid;">
                        {% for topExp in topExpense %}
                        <li><a href="{% url 'showmembers_with_bank' topExp.from_or_to_account topExp.category_header %}" style="font-size:16px">{{topExp.from_or_to_account}}</a></li>

                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Category Header</li>
                        <hr style="border: 1px solid;">
                        {% for topExp in topExpense %}
                        <li><a href="{% url 'showmembers_with_bank' topExp.from_or_to_account topExp.category_header %}"  style="font-size:16px">{{topExp.category_header}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Transaction Type</li>
                        <hr style="border: 1px solid;">
                        {% for topExp in topExpense %}
                        <li><a href="{% url 'showmembers_with_bank' topExp.from_or_to_account topExp.category_header %}"  style="font-size:16px">{{topExp.transaction_type}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Amount</li>
                        <hr style="border: 1px solid;">
                        {% for topExp in topExpense %}
                        <li><a href="{% url 'showmembers_with_bank' topExp.from_or_to_account topExp.category_header %}"  style="font-size:16px">{{topExp.amount}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="sales-boxes" style="width:2250px">
            <div class="recent-sales box">
                <div class="title">TOP 20 INCOME DEATILS</div>
                <br>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Members(from or to account)</li>
                        <hr style="border: 1px solid;">
                        {% for topInc in topIncome %}
                        <li><a href="{% url 'showmembers_with_bank' topInc.from_or_to_account topInc.category_header %}"  style="font-size:16px">{{topInc.from_or_to_account}}</a></a></li>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Category Header</li>
                        <hr style="border: 1px solid;">
                        {% for topInc in topIncome %}
                        <li><a href="{% url 'showmembers_with_bank' topInc.from_or_to_account topInc.category_header %}"  style="font-size:16px">{{topInc.category_header}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Transaction Type</li>
                        <hr style="border: 1px solid;">
                        {% for topInc in topIncome %}
                        <li><a href="{% url 'showmembers_with_bank' topInc.from_or_to_account topInc.category_header %}"  style="font-size:16px">{{topInc.transaction_type}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Amount</li>
                        <hr style="border: 1px solid;">
                        {% for topInc in topIncome %}
                        <li><a href="{% url 'showmembers_with_bank' topInc.from_or_to_account topInc.category_header %}"  style="font-size:16px">{{topInc.amount}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">TOP EXPENSE MEMBERS DEATILS</div>
                <br>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Members</li>
                        {% for topMember in topMemberExpense %}
                        <li><a href="{% url 'showmembers_with_id' topMember.from_or_to_account %}" style="font-size:16px">{{topMember.from_or_to_account}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Amount</li>
                        {% for topMember in topMemberExpense %}
                        <li><a href="{% url 'showmembers_with_id' topMember.from_or_to_account %}" style="font-size:16px">{{topMember.amount}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="recent-sales box">
                <div class="title">TOP INCOME MEMBERS DEATILS</div>
                <br>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Members</li>
                        {% for topMember in topMemberIncome %}
                        <li><a href="{% url 'showmembers_with_id' topMember.from_or_to_account %}" style="font-size:16px">{{topMember.from_or_to_account}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                    <ul class="details">
                        <li class="topic">Amount</li>
                        {% for topMember in topMemberIncome %}
                        <li><a href="{% url 'showmembers_with_id' topMember.from_or_to_account %}" style="font-size:16px">{{topMember.amount}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <br>


    </div>
</section>
<script>
    $(function() {
    $( "#datepicker" ).datepicker({dateFormat: 'yy'});
})

</script>


<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
    labels: ['January','February','March','April','May','June','July','August','September','October','November', 'December'],
    datasets: [{
        data: {{total_exp}},
        label: "Total Expense",
        backgroundColor: 'rgb(255,0,0)',
        borderColor: 'rgb(255,0,0)',
        fill: false
      }, {
        data: {{total_inco}},
        label: "Total Income",
        backgroundColor: 'rgb(124,252,0)',
        borderColor: 'rgb(124,252,0)',
        fill: false
      },
    ]
  },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Total Income And Expense of Year {{current_year}}',
                padding: {
                    top: 10,
                    bottom: 30
                }
            }
        },
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


</script>

{% endblock %}