{% extends 'bash.html' %}
{% load static %}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">SOCIETY PROFILE</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div>
        <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'logout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>
            
            </form>
        </div>
    </nav>

    <div class="home-content">


        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Society Profile</div>
                <hr>
                <div class="sales-details">
                    <form method="post">
                        <div class="table-responsive">
                            <table id="bootstrapdatatable" style="width:100%s"
                                   class="table table-striped table-bordered"
                                   width="100%">
                                {% csrf_token %}
                                {% for socDeatils in societyDeatils %}
                                <div class="container">
                                    <br>
                                    <div class="form-group row">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Society Name:</label>
                                            <div class="col-sm-4">
                                                {{socDeatils.society_name}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Society Contact Name:</label>
                                            <div class="col-sm-4">
                                                {{socDeatils.contact_name}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Society Contact Number:</label>
                                            <div class="col-sm-4">
                                                {{socDeatils.moblie_no}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Society Contact Email:</label>
                                            <div class="col-sm-4">
                                                {{socDeatils.email}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Society Address:</label>
                                            <div class="col-sm-4">
                                                {{socDeatils.society_address}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">City: </label>
                                            <div class="col-sm-4">
                                                {{socDeatils.city}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">State: </label>
                                            <div class="col-sm-4">
                                                {{socDeatils.state}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Country: </label>
                                            <div class="col-sm-4">
                                                {{socDeatils.country}}
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Society Registration Number:: </label>
                                            <div class="col-sm-4">
                                                {{socDeatils.society_registration_number}}
                                            </div>
                                        </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}